<%- include('partials/header') -%>

<div class="m-3">
  <%= reqsLeft.rate.remaining %> / <%= reqsLeft.rate.limit %> 
  <p>REQUESTS LEFT</p>
</div>

<div class="container">
  <div class="text-center">
    <img
      class="userImage mb-3 bg-primary p-2"
      src="<%= userDetails.avatar_url %>"
      alt=""
    />
    <h1 class="userName"><%= userDetails.name %></h1>
    <p class="userId"><a target="_blank" href="<%= userDetails.html_url %>">@<%= userDetails.login %></a></p>

    <h5 class="mb-4 sm-bio"><%= userDetails.bio %> </h5>

        <div class="container mt-4">
        <div class="row no-gutters row-cols-1 row-cols-md-3">
          <div class="col">
            <p><i class="fas fa-building mr-2"></i> <%= userDetails.company %></p>
        </div>
          <div class="col">
            <p><i class="fas fa-map-marker-alt mr-2"></i><%= userDetails.location %></p>
        </div>
          <div class="col">
            <p><i class="far fa-calendar-alt mr-2"></i>Joined <%= new Date(userDetails.created_at).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric'}) %></p>
        </div>
          </div>
        </div>


        <div class="row row-cols-1 row-cols-md-3 mt-4">
            
            <div class="col">
              <div class="card">
                <div class="card-body bg-primary text-white">
                  <h5 class="card-title"><%= userDetails.public_repos.toLocaleString() %></h5>
                  <p class="card-text">Public Repositories</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <div class="card-body bg-primary text-white">
                  <h5 class="card-title"><%= userDetails.followers.toLocaleString() %></h5>
                  <p class="card-text">Followers</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <div class="card-body bg-primary text-white">
                  <h5 class="card-title"><%= userDetails.following.toLocaleString() %></h5>
                  <p class="card-text">Following</p>
                </div>
              </div>
            </div>

          </div>

          <div class="mt-2">
            <h2 class="text-left mt-5 mb-3">Repos:</h2>
          </div>

          <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
            <% for( let i = 0; i < userRepos.length; i++ ) { %>
              <div class="col mb-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><a target="_blank" href="<%= userRepos[i].svn_url %>"><%= userRepos[i].name %></a></h5>
                    <p class="card-text"><%= userRepos[i].description %></p>
                    <p class="card-text text-right text-muted"><%= userRepos[i].size.toLocaleString() %> KB</p>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
          

      
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
